.module {
  p, h2, h3, form label {
    color: rgb(31, 15, 17);
    font-size: 16px;
    line-height: 26px;
  }
  h2, h3 {
    font-weight: 500;

    &.confirmation {
      font-size: 24px;
      line-height: 30px;
      @media only screen and (min-width: 992px) {
        font-size: 36px;
        line-height: 48px;
      }
    }
  }
  &.module-step1 {
    h3 {
      margin-top: 30px;
    }
  }
  form {
    margin: 0 -35px;

    p {
      font-weight: 500;  
      margin: 10px 35px 0 35px;
    }
    
    ul {
      margin: 0 35px;
    }

    .form-group {
      @media only screen and (min-width: 992px) {
        display: flex;
      }
      border-left: none;
      border-right: none;
      padding: 5px 35px;
      margin: 0;

      &.gray {
        background: rgb(243, 243, 243);
      }

      > label {
        margin: 0 0 10px 0;
        @media only screen and (min-width: 992px) {
          margin: 0;
          flex-grow: 1;
        }
      }

      .custom-radio {
        @media only screen and (min-width: 992px) {
          margin: 0 0 0 20px;
        }
      }
    }
    .buttons {
      display: block;
      border: none;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      .cancel {
        margin: 20px 20px 0 0;
        float: right;
      }
      button {
        margin: 10px 0 0 10px;
        float: right;
      }
    }
  }
}