/* ModalRegistration */

@import '../../styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/bootstrap-grid';

.modal-login {
  max-width: 400px;
  /* &.modal-checkout {
    max-width: 500px;
    h4 {
      margin: 10px;
    }
  } */

  @include media-breakpoint-up(md) {
    margin-top: 13rem;
  }

  .modal-content {
    .modal-header {
      h5.modal-title {
        padding-bottom: 0;
      }
    }

    .modal-body {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;

      h4 {
        text-align: center;
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
      }

      .login-link-container {
        margin-top: 1rem;
      }

      .form-group {
        .custom-checkbox {
          padding-left: 1.5rem;
        }

        .custom-radio.custom-control {
          padding-left: 0;
          margin-right: 0;
          text-align: center;
          position: relative;
          padding-bottom: 0.8rem;
          margin-bottom: 0.8rem;

          &::after {
            content: "";
            width: 40px;
            height: 1px;
            border-bottom: 2px solid $gray-400;
            position: absolute;
            left: 43%;
            bottom: 0;
          }

          label.custom-control-label {
            color: theme-color("info");

            &:hover {
              cursor: pointer;
            }

            &::before {
              content: unset;
            }
          }

          &:last-child {
            &::after {
              content: unset;
            }
          }
        }

        &.form-group-light {
          .custom-radio.custom-control {
            label.custom-control-label {
              color: $gray-500;
            }

            input:checked + label {
              color: theme-color("info");
            }
          }
        }
      }

      .social-signup {
        height: 50px;
        width: 215px;
        margin-top: 1rem;
        cursor: pointer;
      }
      
      .mobile-loading {
        width: 180px;
        height: 330px;
        display: block;
        margin: 0 auto;
        padding-top: 6rem;
        background: center center no-repeat;
        background-size: 100%;

        .spinner {
          color: $gray-400;
          text-align: center;
        }

        p {
          color: $gray-700;
          max-width: 130px;
          text-align: center;
          margin: 2rem auto 0 auto;
        }
      }
    }
  }
}
