.form-password {
  position: relative;

  .form-control::placeholder {
    color: #9ca4ab;
    font-weight: 300;
  }

  .icon-eye {
    width: 16px;
    height: 14px;
    display: block;
    position: absolute;
    top: 38px;
    right: 15px;
    cursor: pointer;
  }

  .icon-eye:active {
    opacity: 0.5;
  }
}