/* ModalMessage */

@import '../../styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/bootstrap-grid';

.modal-error {
  max-width: 400px;

  @include media-breakpoint-up(md) {
    margin-top: 13rem;
  }

  .modal-content {
    .modal-header {
      h5.modal-title {
        padding-bottom: 0;
        img {
          width: 130px;
        }
      }
    }

    .modal-body {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      padding-top: 0;
      text-align: center;

      h4 {
        text-align: center;
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }

      .form-group {
        .custom-checkbox {
          padding-left: 1.5rem;
        }

        .custom-radio.custom-control {
          padding-left: 0;
          margin-right: 0;
          text-align: center;
          position: relative;
          padding-bottom: 0.8rem;
          margin-bottom: 0.8rem;

          &::after {
            content: "";
            width: 40px;
            height: 1px;
            border-bottom: 2px solid $gray-400;
            position: absolute;
            left: 43%;
            bottom: 0;
          }

          label.custom-control-label {
            color: theme-color("info");

            &:hover {
              cursor: pointer;
            }

            &::before {
              content: unset;
            }
          }

          &:last-child {
            &::after {
              content: unset;
            }
          }
        }

        &.form-group-light {
          .custom-radio.custom-control {
            label.custom-control-label {
              color: $gray-500;
            }

            input:checked + label {
              color: theme-color("info");
            }
          }
        }
      }

      .mobile-loading {
        width: 180px;
        height: 330px;
        display: block;
        margin: 0 auto;
        padding-top: 6rem;
        background: center center no-repeat;
        background-size: 100%;

        .spinner {
          color: $gray-400;
          text-align: center;
        }

        p {
          font-size: 16px;
          color: $gray-700;
          max-width: 130px;
          text-align: center;
          margin: 2rem auto 0 auto;
        }
      }
    }
  }
}
