/* Variables */

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1300px
);

$theme-colors: (
  primary: #177DE7,
  secondary: #F9C646,
  dark: #1D1D1D,
  danger: #D33131,
  info-hover: #3B8190
);
