# https://docs.docker.com/engine/reference/builder/#dockerignore-file
**/.vscode/
**/.DS_Store
**/node_modules
.npmignore
**/build-bx-app-image.sh
*sbom.json
**/Dockerfile
**/Dockerfile.dev
**/README.md
.gitignore
**/env-config.js
image-build-tool.sh