# https://docs.docker.com/engine/reference/builder/#dockerignore-file
**/.vscode/
**/.DS_Store
**/node_modules
.npmignore
**/build-bx-app-image.sh
**/dBuild-tApply.sh
*sbom.json
**/Dockerfile
**/Dockerfile.*
**/README.md
.gitignore
.gitattributes
**/env-config.js
README.md
.git
.gitignore
logs
*.log
npm-debug.log*
.npmignore
env-nofile.sh
documentation
**/terraform.*
**/.terraform*
